<div [class]="basicService.darkMode ? 'dark-mode container' : 'container'">
    <mat-card [class]="basicService.darkMode ? 'dark-mode-form card' : 'card cornflowerblue-text-color'">
        <mat-card-header>
            <img 
                [src]="userControllerService.User.avatar" 
                alt=""
                mat-card-avatar
                (click)="onAvatarClick()"
                class="avatar"
            />
            <mat-card-title>
                {{userControllerService.User.userName}}
            </mat-card-title>
            <button 
                *ngIf="!editName"
                (click)="EditName()"
                mat-icon-button
                class="success-background"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <mat-card-subtitle class="cornflowerblue-text-color">
                {{userControllerService.User.email}}
            </mat-card-subtitle>
        </mat-card-header><br>
        <mat-card-content>
            <form *ngIf="editName" [formGroup]="formValidation" (ngSubmit)="onSubmit(); EditName()">
                <mat-form-field  
                    appearance="outline" 
                    class="full-width"
                >
                    <mat-label>Name</mat-label>
                    <input 
                        formControlName="userName"
                        matInput 
                        placeholder="Enter your name" 
                        type="text">
                    <div *ngIf="userName?.invalid && userName?.touched">
                        <mat-error *ngIf="userName?.errors?.['required']">
                            Name is required..
                        </mat-error>
                        <mat-error *ngIf="userName?.errors?.['minlength']">
                            Your name must atleast have 3 letters..
                        </mat-error>
                        <mat-error *ngIf="userName?.errors?.['maxlength']">
                            Your name must not have more than 30 letters..
                        </mat-error>
                    </div>
                </mat-form-field>
                <hr>
                <div>
                    <button mat-raised-button color="primary" type="submit" class="full-width">
                        Update
                    </button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>
                    Notification 
                    <button 
                        mat-raised-button 
                        (click)="allowNotification()"
                        [color]="userControllerService.User.allowNotification ? 'primary' : 'accent'" 
                        type="button"
                        class="btn-end"
                    >
                        {{userControllerService.User.allowNotification ? 'ON' : 'OFF'}}
                    </button>
                </mat-card-title>
            </mat-card-header>
        </mat-card-content>
        <mat-card-content>
            <mat-card-header class="header">
                <mat-card-title>
                    Email 
                    <button 
                        mat-raised-button 
                        (click)="receiveEmailNotification()"
                        [color]="userControllerService.User.emailNotification ? 'primary':'accent'" 
                        type="button"
                        class="btn-end"
                    >
                        {{userControllerService.User.emailNotification ? 'ON': 'OFF'}}
                    </button>
                </mat-card-title>
                <!-- <mat-card-subtitle class="cornflowerblue">
                    Receive email notification (note: If incase your unable to see
                    notification in your email, please check your junk box or spam section)
                </mat-card-subtitle> -->
            </mat-card-header>
        </mat-card-content>
        <mat-card-content>
            <mat-card-header class="option">
                <button 
                        [routerLink]="routeP.slase+routeP.resetPassword+userControllerService.User._id"
                        mat-raised-button 
                        color="accent"
                        type="button"
                    >
                        Change Password
                    </button>
            </mat-card-header>
        </mat-card-content>
    </mat-card>
</div>