.toolbar {
    width: 100%;
}

.end-tab {
    margin-left: auto;
}

.tab {
    padding: 0 20px;
    cursor: pointer;
}

.card {
    height: calc(100vh - 161px);
    overflow-y: scroll;
}

.add-button {
    margin-bottom: 10px;
    color: lime;
    border-color: lime;
}

.expansion-panel {
    margin: 5px 0;
}

.start {
    position: absolute;
    left: 0;
}

@media only screen and (max-width: 850px) {
    
}