.card {
    /* border-right: 1px solid cornflowerblue; */
    border-radius: 0;
}

.list {
    height: calc(100vh - 165px);
    /* border-right: 1px solid cornflowerblue; */
}

.darkmode-list-item {
    color: white;
}


.list-item {
    color: cornflowerblue;
}

.logout {
    position: absolute;
    bottom: 0;
    color: orangered;
}
