.list {
    height: calc(100vh - 73px);
    border-right: 1px solid cornflowerblue;
}

.list-item {
    color: cornflowerblue;
}

.menu {
    
}

.menu-item {
    color: cornflowerblue;
}

.logout {
    position: absolute;
    bottom: 0;
    color: orangered;
}