.container {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
}

.card {
    width: 80%;
    margin: auto;
}

.link-right {
    float: right;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
        margin: auto;
    }
}