<mat-dialog-actions align="end">
    <button mat-icon-button color="warn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<h1 mat-dialog-title>{{!taskControllerService.updateTaskId ? 'Add Task' : 'Update Task'}}</h1>
<mat-dialog-content class="card">
    <form [formGroup]="formValidation" (ngSubmit)="onSubmit()">
        <mat-form-field 
            appearance="outline" 
            class="full-width"
        >
            <mat-label>Title</mat-label>
            <input
                formControlName="taskName"
                matInput 
                placeholder="Enter your task title" 
                type="text"
            >
            <div *ngIf="taskName?.invalid && taskName?.touched">
                <mat-error *ngIf="taskName?.errors?.['required']">
                    Title is required..
                </mat-error>
                <mat-error *ngIf="taskName?.errors?.['maxlength']">
                    Title can only have 20 letters..
                </mat-error>
            </div>
        </mat-form-field>
        <mat-form-field 
            appearance="outline" 
            class="full-width"
        >
            <mat-label>Description</mat-label>
            <textarea
                formControlName="description"
                matInput 
                placeholder="Enter your task description" 
                rows="5"
                type="text"
            ></textarea>
            <div *ngIf="description?.invalid && description?.touched">
                <mat-error *ngIf="description?.errors?.['maxlength']">
                    Title can only have 5000 letters..
                </mat-error>
            </div>
        </mat-form-field>
        <mat-form-field 
            appearance="outline" 
            class="full-width"
        >
            <mat-label>Date/ Time</mat-label>
            <input
                formControlName="date_time"
                matInput 
                placeholder="Enter your task date time" 
                type="datetime-local"
            >
            <div *ngIf="date_time?.invalid && date_time?.touched">
                <mat-error *ngIf="date_time?.errors?.['required']">
                    Date and time is required..
                </mat-error>
            </div>
        </mat-form-field>
        <hr>
        <div>
            <button 
                mat-dialog-close 
                mat-raised-button 
                color="primary" 
                type="submit" 
                class="full-width btn"
            >
                {{!taskControllerService.updateTaskId ? 'Add' : 'Update'}}
            </button>
        </div>
    </form>
</mat-dialog-content>