<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                Forgot Password
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formValidation" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input 
                        formControlName="email"
                        matInput 
                        placeholder="Enter your email" 
                        type="email">
                    <div *ngIf="email?.invalid && email?.touched">
                        <mat-error *ngIf="email?.errors?.['required']">
                            Email is required..
                        </mat-error>
                        <mat-error *ngIf="email?.errors?.['email']">
                            Enter a proper email..
                        </mat-error>
                    </div>
                </mat-form-field>
                <hr>
                <div>
                    <button mat-raised-button color="primary" type="submit" class="full-width">
                        Send
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>