/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

.link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.darkMode {
    background-color: #2d3436;
}

.nav-color {
    background-color: cornflowerblue;
    color: white;
}

.cornflowerblue {
    color: cornflowerblue;
}

.btn-success {
    background-color: #4BB543;
}

.cornflower-background {
    background-color: cornflowerblue;
    color: #fff;
}

.primary-background {
    background-color: #0275d8;
    color: #fff;
}

.info-background {
    background-color: #5bc0de;
    color: #fff;
}

.success-background {
    background-color: #5cb85c;
    color: #fff;
}

.warning-background {
    background-color: #f0ad4e;
    color: #fff;
}

.danger-background {
    background-color: #d9534f;
    color: #fff;
}

.faded-background {
    background-color: #f7f7f7;
    color: #000;
}

.inverse-background {
    background-color: #292b2c;
    color: #fff;
}